@import url('https://fonts.cdnfonts.com/css/ford-antenna');

body, h1, p, ul, li {
    margin: 0;
    padding: 0;
    font-family: "Ford Antenna", Arial, Helvetica, sans-serif !important;
}

.borda-cima {
    background-color: #f0f0f0;
    justify-content: center;
    height: 30px;
}

.borda-cima h1 {
    font-size: 14px;
    text-align: end;
    align-items: center;
    margin-right: 10%;
    justify-content: center;
    color: #ce9300;
    
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    background-color: #ffffffcc;
    padding: 20px;
    font-family: 'Ford Antenna Medium Cnd', sans-serif;
    
}

.logo {
    margin-left: 100px; 
    height: 100px;
}

.menu {
    list-style: none;
    display: flex;
    margin-left: 20px; 
}

.menu li {
    margin-left: 10px; 
}

.menu a {
    text-decoration: none;
    color: #ffbb02;
    font-weight: 600;
    padding: 8px;
    font-size: 12px;
    font-family: "Ford Antenna", Arial, Helvetica, sans-serif !important;
    text-shadow: 1px 1px 0.5px #ffbb02; 
}

.menu a:hover {
    background-color: #ffffff;
    border-radius: 5px;
}

.container {
    display: flex;
    flex-direction: column;
}

.cavalodiv1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cavalo1 {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    height: auto; 
    aspect-ratio: 1440 / 600; 
}

.ver-mais{
    position: absolute;
    top: 51%;  
    left: 10%; 
    transform: translate(-50%, -50%); 
    background-color: rgba(255, 255, 255);
    color: #dfa40f;;
    border: none;
    padding: 15px 35px;
    cursor: pointer;
    border-radius: 20px; /* botao redono */
    font-size: 16px;
    font-family: "Ford Antenna Medium", Arial, Helvetica, sans-serif !important;
  }

  .titulo {
    position: absolute;
    top: 40%;
    left: 14%; 
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 2px 2px 5px black; 
  }

  .borda {
    border: 1px solid rgb(217, 217, 217);
    margin-left: 40px;
    margin-right: 40px;
  }

  .cavalodiv2 {
    margin-top: 5%;
    position: relative;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

}

.titulo2 {
    position: relative;
    justify-content: center;
    align-items: center;
    color: #dfa40f;;
    font-size: 42px;
    font-family: 'Ford Antenna Medium', sans-serif;
    font-weight: 400;
  }

.botao-vertodos {
    margin-top: 4%;
    background-color: #dfa40f;
    color: #ffffff;
    border: none;
    padding: 15px 35px;
    cursor: pointer;
    border-radius: 30px; /* botao redono */
    font-size: 16px;
    font-family: "Ford Antenna Medium", Arial, Helvetica, sans-serif !important;
    box-shadow: 2px 2px 5px black;

}

.cavalo2 {
    zoom: 200%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 3%;
    aspect-ratio: 626 / 223;
}

.cavalodiv3 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cavalo3 {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    height: auto; 
    aspect-ratio: 1440 / 400; 
}

.ver-ofertas{
    position: absolute;
    top: 55%;  
    left: 8%; 
    background-color: #ffffff;
    color: #dfa40f;;
    border: none;
    padding: 15px 35px;
    cursor: pointer;
    border-radius: 20px; /* botao redono */
    font-size: 16px;
    font-family: "Ford Antenna Medium", Arial, Helvetica, sans-serif !important;
  }

.texto-cavalo3 {
    position: absolute;
    top: 40%;  
    left: 5%; 
    color: #ffffff;
    border: none;
    padding: 15px 35px;
    font-size: 18px;
    font-family: "Ford Antenna Medium", Arial, Helvetica, sans-serif !important;
    text-shadow: 2px 2px 5px black; 
}

.ofertas {
    position: absolute;
    top: 30%;
    left: 7%; 
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 2px 2px 5px black; 
  }

.cavalodiv4 {
    margin-top: 1.5%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cavalo4 {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    height: auto; 
    aspect-ratio: 1440 / 400; 
}

.servicos{
    position: absolute;
    top: 55%;  
    left: 8%; 
    background-color: #ffffff;
    color: #dfa40f;;
    border: none;
    padding: 15px 35px;
    cursor: pointer;
    border-radius: 20px; /* botao redono */
    font-size: 16px;
    font-family: "Ford Antenna Medium", Arial, Helvetica, sans-serif !important;
  }

.texto-cavalo4 {
    position: absolute;
    top: 40%;  
    left: 5%; 
    color: #ffffff;
    border: none;
    padding: 15px 35px;
    font-size: 18px;
    font-family: "Ford Antenna Medium", Arial, Helvetica, sans-serif !important;
    text-shadow: 2px 2px 5px black; 
}

.pos-venda{
    position: absolute;
    top: 30%;
    left: 7.5%; 
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 2px 2px 5px black; 
  }

.saiba-mais{
    position: absolute;
    top: 55%;  
    left: 8%; 
    background-color: #ffffff;
    color: #dfa40f;;
    border: none;
    padding: 15px 35px;
    cursor: pointer;
    border-radius: 20px; /* botao redono */
    font-size: 16px;
    font-family: "Ford Antenna Medium", Arial, Helvetica, sans-serif !important;
  }

.texto-cavalo5 {
    position: absolute;
    top: 40%;  
    left: 5%; 
    color: #ffffff;
    border: none;
    padding: 15px 35px;
    font-size: 18px;
    font-family: "Ford Antenna Medium", Arial, Helvetica, sans-serif !important;
    text-shadow: 2px 2px 5px black; 
}

.cavalos-elite{
    position: absolute;
    top: 30%;
    left: 7.5%; 
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 2px 2px 5px black; 
  }

.cavalodiv6 {
    margin-top: 1.5%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    aspect-ratio: 1440 / 400; 
    width: 1440;
    height: 400;

}

.cavalo6 {
    display: flex;
    align-items: center; 
    width: 100%; 
    height: auto; 
    aspect-ratio: 710 / 400; 
    margin-left: 0;
}
.cavalo7 {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    height: auto; 
    aspect-ratio: 710 / 400; 
    margin-right: 0;
}

.servicos{
    position: absolute;
    top: 55%;  
    left: 8%; 
    background-color: #ffffff;
    color: #dfa40f;;
    border: none;
    padding: 15px 35px;
    cursor: pointer;
    border-radius: 20px; /* botao redono */
    font-size: 16px;
    font-family: "Ford Antenna Medium", Arial, Helvetica, sans-serif !important;
  }

.texto-cavalo4 {
    position: absolute;
    top: 40%;  
    left: 5%; 
    color: #ffffff;
    border: none;
    padding: 15px 35px;
    font-size: 18px;
    font-family: "Ford Antenna Medium", Arial, Helvetica, sans-serif !important;
    text-shadow: 2px 2px 5px black; 
}

.pos-venda{
    position: absolute;
    top: 30%;
    left: 7.5%; 
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 2px 2px 5px black; 
  }
  
.imagem1 {
    position: relative; 
    width: 49.6%;
    height: 100%; 
}

.imagem2 {
    position: relative; 
    width: 49.6%; 
    height: 100%; 
}

.como-funciona{
    position: absolute;
    top: 65%;  
    left: 8%; 
    background-color: #ffffff;
    color: #dfa40f;;
    border: none;
    padding: 15px 35px;
    cursor: pointer;
    border-radius: 20px; /* botao redono */
    font-size: 16px;
    font-family: "Ford Antenna Medium", Arial, Helvetica, sans-serif !important;
  }

 .titulo3 {
    position: relative;
    justify-content: center;
    align-items: center;
    color: #dfa40f;;
    font-size: 32px;
    font-family: 'Ford Antenna Medium', sans-serif;
    font-weight: 400;
  }

.texto2 {
    margin: 0.5%;
    position: relative;
    justify-content: center;
    align-items: center;
    color: #dfa40f;;
    font-size: 16px;
    font-family: 'Ford Antenna Medium', sans-serif;
    font-weight: 400;
  }

.cavalodiv7 {
    margin-top: 6%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1440 / 400; 
    width: 1440;
    height: 400;
    gap: 2%;

}

.imagem3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%; 
    height: 100%; 
    aspect-ratio: 396 / 295; 
}

.imagem4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%; 
    height: 100%; 
    aspect-ratio: 396 / 295; 
}

.titulo4{
    margin-top: 5%;
    left: 7.5%; 
    color: #dfa40f;;
    font-size: 18px;
    font-weight: 100px;
  }

  .texto-cavalo6 {
    top: 30%;
    left: 5%; 
    color: #dfa40f;
    font-weight: 0;
    border: none;
    padding: 15px 35px;
    font-size: 14px;
    font-family: "Ford Antenna Medium", Arial, Helvetica, sans-serif !important;
}

.veja-informacao{
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    background-color: #dfa40f;
    color: #ffffff;
    border: none;
    padding: 15px 35px;
    cursor: pointer;
    border-radius: 20px; /* botao redono */
    font-size: 16px;
    font-family: "Ford Antenna Medium", Arial, Helvetica, sans-serif !important;
  }
  
footer {
    background: #dfa40f;
    color: white;
}

.informacoes {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
    padding: 10px; 
    background: #ffffff;
    color: black;
    text-align: left;
    width: 100%;
    margin-top: 20%;
    cursor: pointer;
    font-weight: 200px;
    color: #dfa40f;
}

.informacoes div {
    padding: 10px; 
    border-bottom: 1px solid gray; 
    background-color: #ffffff;
}

.informacoes div:last-child {
    border-bottom: none;
}

.informacoes div:first-child {
    border-top: 1px solid gray; 
}

.redes-sociais {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px;
    background: #f0f0f0;
    text-align: center;
}

.redes-sociais img {
    width: 38px;
    height: 38px;
}

.pesquisa {
    text-align: left;

}

.pesquisa input {
    padding: 8px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid #ccc;

}

.pesquisa div {
    background-color: #ffb700;
    height: 100px;
    width: auto;
}

.links {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    cursor: pointer;

}

.links div {
    max-width: 200px;
}

.links ul {
    list-style: none;
    padding: 0;
}

.links li {
    margin: 5px 0;
}

.rodape {
    background-color: #dfa40f;
    text-align: center;
    padding: 20px;
}

.rodape-texto {
    font-size: 14px;
    color: #666;
}

.rodape-texto a {
    margin: 0 10px;
    color: #666;
    text-decoration: none;
}

.rodape-texto a:hover {
    text-decoration: underline;
}

.rodape-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.rodape-info img {
    height: 40px; 
}

.rodape2 {
    background-color: #ffffff;
    text-align: center;
    padding: 20px;
}
